@charset "UTF-8";
/*
Hierin geef ik aan wat voor fonts er worden toegevoegd. Even informatie waarom ik dit moet doen leg ik uit.
*/
@font-face {
  font-family: interface;
  src: url("fonts/xctasysansrr.ttf");
}
@font-face {
  font-family: titleklean;
  src: url("fonts/titlekleanmeme.ttf");
}
@font-face {
    font-family: Century;
    src: url("fonts/CG.ttf");
}
@font-face {
    font-family: PayPal-SLM;
    src: url("fonts/PayPalSansSmall-Medium.ttf");
}
@font-face {
    font-family: Uni-Sans;
    src: url("fonts/uni-sans-thin-caps.ttf");
}
@font-face {
    font-family: Open-Bold;
    src: url("fonts/OpenSans-Bold.ttf");
}
@font-face {
    font-family: Open-XBold;
    src: url("fonts/OpenSans-ExtraBold.ttf");
}
@font-face {
    font-family: Open-Light;
    src: url("fonts/OpenSans-Light.ttf");
}
@font-face {
    font-family: Open-SBold;
    src: url("fonts/OpenSans-SemiBold.ttf");
}
@font-face {
    font-family: Quinzey;
    src: url("fonts/Quinzey.otf");
}
@font-face {
    font-family: Quinzey-Bold;
    src: url("fonts/Quinzey_Bold.otf");
}
@font-face {
    font-family: Quinzey-Medium;
    src: url("fonts/Quinzey_Medium.otf");
}
@font-face {
    font-family: Lovelo-B;
    src: url("fonts/Lovelo Black.otf");
}
@font-face {
    font-family: Lovelo-LB;
    src: url("fonts/Lovelo Line Bold.otf");
}
@font-face {
    font-family: Lovelo-LL;
    src: url("fonts/Lovelo Line Light.otf");
}
@font-face {
    font-family: Nexa-B;
    src: url("fonts/Nexa Bold.otf");
}
@font-face {
    font-family: Nexa-L;
    src: url("fonts/Nexa Light.otf");
}
body
{
      font-size: 20px;
      text-align: center;
  color:#fff;
  padding-top:0cm;
  background-color: #white;
}
* { color:#fff; text-decoration: none;}

.faq{
  font-size: 10px;
  font-family: Open-SBold;
  color: black;
  float: right;
  margin-right: 150px;
}

.sign-up{
  font-size: 10px;
  font-family: Open-SBold;
  color: black;
  float: right;
  margin-right: 20px;
}

.nav-bar{
  position:inherit;
  font-family: Century;
}

ul {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    display: inline-block;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #fff}

.dropdown:hover .dropdown-content {
    display: block;
}

table {
    font-family: PayPal-SLM;
    border-collapse: collapse;
    width: 1500px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: left;
}

td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: black;
}

th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color: black;
  font-size: 20px;
}

.vraag1{
  font-family: Nexa-B;
  color: black;
}

.vraag2{
  color: black;
  font-family: Nexa-B;
  margin: 50px;
}

.antwoord2{
  font-family: Nexa-L;
  color:black;
  margin-top: -40px;
}
